# Ignore Visual Studio temporary files, build results, and user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output directories
bin/
obj/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/